node_modules/
.pnpm-store/
dist/
out/
release/
.vite/
demo/extensions/**/index.js
modules/**/index.js
.DS_Store
.env
.env.*
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
electron-debug.log*
